/****************************TAG SELECTORS******************/
body{
  background-color: grey;
}
h1{
  color: red;
  font-size: 100px;
}

img:hover {
  background-color: gold;
}

/****************************CLASS SELECTORS******************/
.bacon{
  background-color: green;
  height: 100px;
}
.broccoli{
  background-color: red;
}
.circular{
  border-radius: 100%;
}
/****************************ID SELECTORS******************/
#heading{
  color: blue;
}
